.App {
  width: 800px;
  margin: 0 auto;
}

.App-header {
  height: 90px;
  padding: 20px 0;
  margin: 0;
  border-bottom: 3px solid #000;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
  line-height: 60px;
  float: left;
}
.App-title a,
.App-title a:hover {
  text-decoration: none;
  color: inherit;
}

.App-title small {
  font-size: inherit;
  color: #ccc;
  font-weight: bold;
}

.App-auth {
  float: right;
  height: 60px;
  width: 200px;
  margin-top: 10px;
  font-size: 0.8em;
  text-align: right;
}

.App-avatar {
  float: right;
  margin-left: 5px;
  width: 36px;
  height: 36px;
}

.App-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.Modal {
  text-align: center;
  border: 10px solid #000;
  margin: 20px auto;
  border-radius: 4px;
  padding: 20px 40px 20px;
}

.App-main h3 {
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #333;
  border-bottom: 3px solid #333;
  padding: 0 0 5px 0;
  font-size: 16px;
}
