.App {
  width: 800px;
  margin: 0 auto;
}

.App-header {
  height: 100px;
  padding: 20px;
  border-bottom: 3px solid #000;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
  line-height: 60px;
  float: left;
}

.App-auth {
  float: right;
  height: 60px;
  width: 200px;
  margin-top: 10px;
  font-size: 0.8em;
  text-align: right;
}

.App-avatar {
  float: right;
  margin-left: 5px;
  width: 36px;
  height: 36px;
}

.App-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.Modal {
  text-align: center;
  border: 10px solid #000;
  margin: 20px auto;
  border-radius: 4px;
  padding: 20px 40px 20px;
}
