body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #2b2233;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  /* flex: 1; */
  width: 100%;
  padding-top: 24px;
}

/* Optional: If you have a landing page with special layout */
.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Loading indicator styles */
.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
  color: #584d66;
}
