.Year-list {
  margin-bottom: 2rem;
  padding: 0;
}

.Year {
  text-align: left;
  list-style: none;
  margin-bottom: 2rem;
}

.Year-metrics {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
  margin-bottom: 0.5em;
}
.Year-metrics-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  color: inherit;
  text-decoration: none;
}
.Year-metrics-link:hover {
  text-decoration: underline;
}
.Year-metrics-link h2 {
  margin: 0 auto;
}
.Year-metrics-link .glyphicon {
  font-size: 1.5em;
  margin-left: 5px;
  font-weight: normal;
  color: var(--color-blurple);
}
.Year-metrics-text {
  font-weight: 800;
  margin-bottom: 0.5em;
}

.Year-section {
  margin-bottom: 0.5em;
}

.Year-award-list {
  list-style: none;
  padding-left: 0;
  font-size: 0.95em;
  margin: 0;
}
.Year-award-list-title {
  color: var(--color-gray300);
  margin-bottom: 0.5em;
}
.Year-award-list-item {
  margin-bottom: 0.5em;
  list-style: disc;
  margin-left: 1em;
}
.Year-award-list a {
  font-weight: normal;
  text-decoration: underline;
}
