@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

:root {
  --color-gray100: #1d1127;
  --color-gray300: #71637e;
  --color-gray400: #dad7e5;
  --color-blurple: #7553ff;
  --color-dk-blurple: #4e2a9a;
  --color-green: #92dd00;
  --color-pink: #ff70bc;
  --color-yellow: #fdb81b;
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  transition: 0.1s linear color;
  color: #111;
}
a:hover {
  color: #000;
}

/* Typography */
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-weight: 700;
}
h2,
h3 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  letter-spacing: -0.64%;
  line-height: 120%;
}

h1 {
  font-size: 2.25em; /* 36px */
}
h2 {
  font-size: 1.75em; /* 28px */
}
h3 {
  font-size: 1.25em; /* 20px */
}
h4,
h5,
h6 {
  font-size: 0.875em; /* 14px */
}

p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1em; /* 16px */
  line-height: 180%;
  letter-spacing: -0.64%;
}

dl,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
form,
blockquote {
  margin: 0 0 20px 0;
}

dt {
  font-weight: 600;
  color: var(--color-gray100);
  margin-bottom: 2px;
  font-size: 1.25em;
}
dd {
  font-weight: 400;
  color: var(--color-gray100);
  margin-bottom: 1em;
  font-size: 1.25em;
}
.btn {
  border-width: 2px;
}

.btn-default {
  background: #fff;
  color: #666;
  border-color: #999;
}
.btn-default:hover .btn-default:active {
  border-color: #999;
  background-color: #999;
  color: #fff;
}

.btn-primary {
  background: #fff;
  color: #7b6be6;
  border-color: #7b6be6;
}
.btn-primary:hover,
.btn-primary:active {
  border-color: #7b6be6;
  background-color: #7b6be6;
  color: #fff;
}

.btn-danger {
  background: #fff;
  color: #e03e2f;
  border-color: #e03e2f;
}
.btn-danger:hover .btn-danger:active {
  border-color: #e03e2f;
  background-color: #e03e2f;
  color: #fff;
}
.Project-Details-header {
  display: flex;
  gap: 1em;
}
.Project-Details {
  width: 100%;
}
.Project-Details-Content {
  display: flex;
  column-gap: 12px;
}
.Project-Details-Content-main {
  flex: 1 1 auto;
}
.Project-Details-Sidebar {
  flex: 0 0 200px; /* Fixed width of 300px on larger screens */
  min-width: 200px;
}
@media (max-width: 1024px) {
  .Project-Details-Content {
    flex-direction: column;
  }
  .Project-Details-Sidebar {
    flex: 1 1 auto; /* Full width on smaller screens */
    min-width: auto;
    width: 100%;
  }
}
.Project-Details .col-md-8 {
  padding-left: 0px;
  padding-right: 0px;
}
.btn-set .btn {
  margin-left: 5px;
  margin-right: 10px;
  display: flex;
  gap: 10px;
}
.btn-set .btn:first-child {
  margin-left: 0;
}
.btn-set {
  display: flex;

  gap: 8px;
  justify-content: flex-end;
}
.media-loading {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.form-group .checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-group .checkbox input[type='checkbox'] {
  width: 24px;
  margin: 0;
  position: static;
  accent-color: var(--color-blurple);
}

.form-group .checkbox label {
  margin: 0;
  padding: 0;
}

.form-group .checkbox,
.form-group .radio {
  margin: 0;
}

.alert {
  width: 100%;
  font-size: 0.9em;
  border: 0;
}

.alert blockquote {
  padding: 0;
  margin-bottom: 0;
  font-size: inherit;
  border: 0;
  font-style: italic;
}

.alert blockquote header {
  display: block;
  font-style: normal;
  margin-bottom: 20px;
}

.squiggle-line {
  border: none;
  height: 20px;
  color: var(--color-blurple);
  background-image: url('./assets/svgs/divider-squiggle.svg');
  background-repeat: repeat-x;
}

/* Shared horizontal layout for details and tabs (reusable across pages) */
.Layout-horizontal-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  box-sizing: border-box;
}

.Layout-main-section {
  flex: 1 1 0%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  padding-bottom: 2rem; /* Optional: for spacing at the bottom */
}

.Layout-sidebar {
  flex: 0 0 auto;
  min-width: 80px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.Layout-sidebar .tabs {
  min-width: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (max-width: 640px) {
  .Layout-horizontal-container {
    flex-direction: column;
  }

  .Layout-sidebar {
    max-width: 100%;
  }

  .Layout-sidebar .tabs {
    flex-direction: row;
    column-gap: 18px;
    flex-wrap: wrap;
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-inline: 12px;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--color-gray400);
  /* background-color: #fff; */
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); */
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* .react-select__control {
  min-height: 40px;
  border-radius: 0.5em;
  border-color: #ccc;
  font-size: 14px;
  color: var(--color-gray400);
  padding: 0 12px;
}

.react-select__menu {
  background-color: var(--color-gray100);
} */

.MultiValue {
  background-color: transparent;
}

.MultiValueContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--color-blurple);
  padding: 4px 8px;
  border-radius: 12px;
  overflow: hidden;
}

.MultiValueLabel {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}

.MultiValueRemove {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.no-forced-lowercase {
  text-transform: none;
}

.Project-details-summary {
  overflow: hidden;
}
