@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

:root {
  --color-gray100: #1d1127;
  --color-gray300: #71637e;
  --color-gray400: #dad7e5;
  --color-blurple: #7553ff;
  --color-green: #92dd00;
  --color-pink: #ff70bc;
  --color-yellow: #fdb81b;
}

body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  transition: 0.1s linear color;
  color: #111;
}
a:hover {
  color: #000;
}

/* Typography */
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-weight: 700;
}
h2,
h3 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  letter-spacing: -0.64%;
  line-height: 120%;
}

h1 {
  font-size: 2.25em; /* 36px */
}
h2 {
  font-size: 1.75em; /* 28px */
}
h3 {
  font-size: 1.25em; /* 20px */
}
h4,
h5,
h6 {
  font-size: 0.875em; /* 14px */
}

p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1em; /* 16px */
  line-height: 180%;
  letter-spacing: -0.64%;
}

dl,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
form,
blockquote {
  margin: 0 0 20px 0;
}

dt {
  font-weight: 600;
  color: var(--color-gray100);
  margin-bottom: 2px;
  font-size: 1.25em;
}
dd {
  font-weight: 400;
  color: var(--color-gray100);
  margin-bottom: 1em;
  font-size: 1.25em;
}
.btn {
  border-width: 2px;
}

.btn-default {
  background: #fff;
  color: #666;
  border-color: #999;
}
.btn-default:hover .btn-default:active {
  border-color: #999;
  background-color: #999;
  color: #fff;
}

.btn-primary {
  background: #fff;
  color: #7b6be6;
  border-color: #7b6be6;
}
.btn-primary:hover,
.btn-primary:active {
  border-color: #7b6be6;
  background-color: #7b6be6;
  color: #fff;
}

.btn-danger {
  background: #fff;
  color: #e03e2f;
  border-color: #e03e2f;
}
.btn-danger:hover .btn-danger:active {
  border-color: #e03e2f;
  background-color: #e03e2f;
  color: #fff;
}
.Project-Details-header {
  display: flex;
  gap: 1em;
}
.btn-set .btn {
  margin-left: 5px;
  margin-right: 10px;
  display: flex;
  gap: 10px;
}
.btn-set .btn:first-child {
  margin-left: 0;
}
.btn-set {
  display: flex;

  gap: 8px;
  justify-content: flex-end;
}
.media-loading {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.form-group .checkbox,
.form-group .radio {
  margin: 0;
}

.alert {
  font-size: 0.9em;
  border: 0;
}

.alert blockquote {
  padding: 0;
  margin-bottom: 0;
  font-size: inherit;
  border: 0;
  font-style: italic;
}

.alert blockquote header {
  display: block;
  font-style: normal;
  margin-bottom: 20px;
}

.squiggle-line {
  border: none;
  height: 20px;
  color: var(--color-blurple);
  background-image: url('./assets/svgs/divider-squiggle.svg');
  background-repeat: repeat-x;
}
